.register-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #1c1c1e, #2d2d2f);
  }
  
  .register-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  